@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;800&display=swap');

*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    padding: 0;
}
body{
    color: #252323;
    font-family: "Saira";
    height: 100%;
}
.profile{
    text-align: center;
    margin-top: 20px;
}
.logo{
    width: 100px;
    border-radius: 50px;
    box-shadow: 0 0 6px #363333;
}
h1{
    font-size: 20px;
    font-weight: 600;
}
h2{
    font-size: 20px;
    font-weight: 500;
}
.social img{
    width: 33px;
}
.social{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.button{
    margin: 14px;
}
span{

}
.links-list li a{
    text-align: center;
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 10px 20px;
    padding: 13px 20px;
    border: 3px solid rgb(0, 0, 0);
    color: #252323;
    font-weight: 100;
    font-family: "Saira";
    border-radius: 10px;
}

.links-list li a:hover{
    






